.forecast-card {
    background-color: grey;
    border-radius: 10px;
    display: flex;
    margin: 5px;
}

.day {
    color: #fff;
    padding-left: 15px;
    font-size: 30px;
}


.temp {
    color: #fff;
    position: relative;
    left: 130px;
}

.temp h3 {
    font-size: 30px;
}

.img {
    color: #fff;
}

.icon-container {
    position: relative;
    left: 350px;;
}

img {
    height: 50px;
    width: 50px;
    color:#fff
  }

.description {
    color: #fff;
}
