.forecast-card {
    background-color: grey;
    border-radius: 10px;
    display: flex;
    margin: 5px;
}

.day {
    color: #fff;
}

.temp {
    color: #fff;
}

.img {
    color: #fff;
}

img {
    height: 50px;
    width: 50px;
    color:#fff
  }