.header {
    display: flex;
    color: aliceblue;
}

.city-name {
    padding-left: 20px;
}

.city-name h3 {
    font-size: 23px;
}


.current-time {
    height: 55px;
    width: 100px;
    border: 2px solid #000;
    margin: 0 auto;

}

.current-temp {
    padding-right: 20px;
}

.current-temp h3 {
    font-size: 23px;
}

.container {
    height: 25px;
    background-color: #ccc;
    position: relative;
    border-radius: 15px;
    margin: 7px;
}


.container .progress-bar {
    position: absolute;
    height: 100%;
    background-color: #F18025;
    animation: progress-animation 60s infinite;
    border-radius: 15px;
}

@keyframes progress-animation {
    0% { width: 0%; }
    100% { width: 100% }
}

